.body-pages-1,
.body-pages-2,
.body-pages-3,
.body-pages-4,
.body-pages-about {
  background: #fff;
}

.color-white-pages {
  color: #000 !important;
  background-color: #fdf9f9;
  text-align: justify;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
}

.section-header-img img {
  width: 100%;
  height: 100%;
}

.section-header-img {
  margin-top: 96.1333px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.color-white-pages img {
  border-radius: 8px;
  width: 95%;
}

.media-description {
  color: #000;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
}

.color-white-pages iframe {
  width: 100%;
  height: 250px;
}

.color-white-pages i {
  color: grey;
  font-size: 12px;
}

.color-white-pages-div {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: #fff;
}

.dropdown-content {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 280px;
  box-shadow: 0;
  z-index: 1;
  padding: 0;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  background: transparent;
}

.dropdown-content li {
  padding-left: 20px;
}

#map:hover .dropdown-content {
  display: block;
}

@media (min-width:768px) {

  .body-pages-1,
  .body-pages-2,
  .body-pages-3,
  .body-pages-4,
  .body-pages-about {
    background: linear-gradient(270deg, #b8aa64, #77af93);
  }

  .section-header-img img {
    width: 768px;
    height: 240px;
  }

  .color-white-pages i {
    font-size: 13px;
  }

  .section-header-img {
    width: 768px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .color-white-pages img {
    width: 184px;
  }

  .color-white-pages iframe {
    height: 510px;
  }

  .color-white-pages-div {
    width: 768px;
  }

  .color-white-pages {
    margin-right: auto;
    margin-left: auto;
    width: 768px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px 80px 30px 80px;
  }

}

@media (min-width:960px) {

  .section-header-img img {
    width: 960px;
    height: 300px;
  }

  .section-header-img {
    width: 960px;
  }

  .color-white-pages img {
    width: 280px;
  }

  .color-white-pages i {
    font-size: 13px;
  }

  .color-white-pages-div {
    width: 960px;
  }

  .color-white-pages {
    width: 960px;
    font-size: 19px;
    padding: 30px 100px 30px 100px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content li:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media (min-width:1200px) {

  .section-header-img img {
    width: 1200px;
    height: 375px;
  }

  .section-header-img {
    width: 1200px;
  }

  .color-white-pages img {
    width: 400px;
  }

  .color-white-pages i {
    font-size: 15px;
  }

  .color-white-pages-div {
    width: 1200px;
  }

  .color-white-pages {
    width: 1200px;
    font-size: 18px;
    padding: 30px 150px 30px 150px;
  }

}

@media (max-width: 768px) {

  #img_02 {
    background-position-x: 70%;
    background-position-y: 50%;
  }

  #img_03 {
    background-position-x: 80%;
    background-position-y: 50%;
  }
}